@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #72354e;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

#main-nav {
    background-color: #edd7e0;
    padding: 10px;
}

#main-nav ul {
    text-align: center;
    list-style-type: none;
}

#main-nav li {
    display: inline-block;
    margin-left: 20px;
}

#main-nav a {
    color: #a6969d;
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
    font-family: 'Righteous', cursive;
}

#Homepage {
    background: url(IMG/1HP/BG.png);
    height: 1080px;
}

img[src="IMG/1HP/Heading.png"] {
    position: relative;
    left: 80px;
    top: 300px;
}

h1.subtitle {
    color: #edd7e0;
    text-align: center;
    position: relative;
    top: 40%;
    font-family: 'Montserrat', sans-serif;
}

#About {
    background: url(IMG/2A/BG.png);
    height: 1061px;
}

#HN {
    position: relative;
    left: 7%;
    top: 300px;
}

#PFP {
    text-align: right;
    position: relative;
    right: 7%;
    top: 100px;
}

#W-Border {
    position: relative;
    left: 0px;
    bottom: 10px;
}

#W-Border p.first {
    position: absolute;
    left: 50px;
    top: 20%;
    font-size: 45px;
    color: #a6969d;
    font-family: 'Montserrat', sans-serif;
}

#W-Border p.second {
    position: absolute;
    left: 100px;
    top: 40%;
    font-size: 45px;
    color: #a6969d;
    font-family: 'Montserrat', sans-serif;
}

#Works {
    background: url(IMG/3W/BG.png);
    height: 707px;
}

#nav {
    padding-left: 350px;
    position: relative;
    top: 120px;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    display: block;
    padding-bottom: 50px;
}

#nav a {
    color: #edd7e0;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Righteous', cursive;
}

#sample {
    text-align: right;
    position: absolute;
    right: 25%;
    top: 100px;
}